//- Set content in title tag
mixin siteTitle( title )
	if( title )
		title #{title} | #{siteName}
	else
		title #{siteName}



//- Browser Happy
mixin browserHappy( laterThen )
	if( laterThen )
		<!--[if lt IE #{laterThen}]>
		p.old-browsers Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href='http://browsehappy.com/'>используйте последние версии браузеров</a>, чтобы и мы и вы были счастливы.
		<![endif]-->
	else
		<!--[if lt IE 8]>
		p.old-browsers Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href='http://browsehappy.com/'>используйте последние версии браузеров</a>, чтобы и мы и вы были счастливы.
		<![endif]-->



//- List generator
mixin nav( className, items, activeEl, onlyList )
	if( onlyList )
		ul(class=className + '__list')
			each item, indx in items
				li(class=className + '__item' + ( (indx === activeEl) ? ' ' + className + '__item_active' : '' ))
					a(class=className + '__item-link' href='javascript:void(0);' title='#{item}')= item
	else
		nav(class=className)
			.wrapper
				ul(class=className + '__list')
					each item, indx in items
						li(class=className + '__item' + ( (indx === activeEl) ? ' ' + className + '__item_active' : '' ))
							a(class=className + '__item-link' href='javascript:void(0);' title='#{item}')= item



//- Form Component
mixin form-component( type, items, activeEl )
	case type
		when 'dropdown'
			.form-cmp
				.form-cmp__dropdown
					a.form-cmp__dropdown-selected-val(href='#')= items[ activeEl ]
					ul.form-cmp__dropdown-list
						each item, indx in items
							li(class='form-cmp__dropdown-item' + ( (indx === activeEl) ? ' form-cmp__dropdown-item_active' : '' ))
								a(class='form-cmp__dropdown-link' href='javascript:void(0);' title='#{item}')= item


-var i = 0
-
	var productNames = [
		'Apple Thunderbolt Display 27\"',
		'Apple iMac 27\"',
		'iPhone 5s Gold',
		'iPad Air Wi-Fi + Cellular 128GB - Silver',
		'Apple iPod nano 7G 16 ГБ Blue',
		'Роутер Wi-Fi Apple AirPort Extreme Base Station'
	]
-
	var productAttr = {
		'Артикул' : 42787825,
		'Опция' : 'включена',
		'Цвет' : 'серебристый',
		'Размер' : '1280*1245*90',
		'Вес' : '9 кг'
	}
-
	var productPlain = ''
mixin products( productsNum )
	.products__grid
		.products-wrap
			ul.products__list
				each elem, indx in productNames
					-productPlain = ''
					li.products__item
						.products__item-image
							figure.products__images
								img.products__images-small-thumb(src='img/temp/' + ( indx + 1 ) + '.jpg' alt='Image ' + i draggable='false')
								img.products__images-big-thumb(src='img/temp/hiRes/' + ( indx + 1 ) + '.jpg' alt='Image ' + i draggable='false')
						.products__item-descr
							.products__item-title
								a.text-link.text-link_inline(href='javascript:void(0);')= elem
							.products__info
								.products__info-cols
									each attr, indx in productAttr
										.row
											.products__info-field.col.col_50= indx
											.products__info-value.col.col_50= attr
										-productPlain+= ( indx !== 'Артикул' ? ', ' : '' ) + indx + ': ' + attr
								
								.products__info-plain= productPlain